*{
    padding: 30px;
}

li{
    float: left;
    list-style: none;
    padding: 5px 20px;
}
/* .cen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 60px;
    margin: auto;
    overflow: hidden;
    background-color: antiquewhite;
    color: rgba(170,143,83,1);
    & img{
        width: 260px;
    }

}

a{
    font-family: 'quick';
    text-decoration: none;
    color: rgba(170,143,83,1);
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
}
