/******************* COLORES *******************/

body{color: dimgray; padding: 0; width: 92%; max-width: 1650px; margin: auto; }
.oro100 {background-color: rgba(170,143,83,1); 
    color: white!important;}
.oro60 {background-color: rgba(170,143,83,0.6); color: white!important;}
.gris1 {background-color: rgba(128,128,128,1); color: white!important;}
.gris2 {background-color: rgba(77,77,77,1); color: white!important;}
.toro {color: rgba(170,143,83,1)!important;}

.blanco {border: solid 2px rgba(170,143,83,1); background-color: white}


/******************* ENCABEZADOS Y SUBTITULOS *******************/
h1, h2, h3, h4, h5, h6, .sub16, .boton {font-family: 'Quicksand', sans-serif;}
h2, h3, h4, h5, h6 {margin-bottom:0.5em;}

h1{font-size: 50pt; font-weight: 300; /*light*/ letter-spacing: 5px;}
h2{font-size: 24pt; font-weight: 400; letter-spacing: 5px;}
h3{font-size: 18pt; font-weight: 400;/*regular*/ letter-spacing: 1px;}
h4{font-size: 16pt; font-weight: 500; letter-spacing: 0px;}
h5{font-size: 12pt; font-weight: 500; /*MEDIUM*/ letter-spacing: 0px;}
h6{font-size: 12pt; font-weight: 700;/*bold*/ letter-spacing: 0px;}
.boton{font-size: 12pt; font-weight: 400; text-transform: uppercase; color: white; letter-spacing: 2px;}
.sub16{font-size: 16pt; font-weight: 400; letter-spacing: 5px;}
   
/******************* TEXTO / BOTONES / ANOTACIONES *******************/
.cuerpo1, .sub14, .cuerpo2, .anotacion {font-family: 'Source Sans Pro', sans-serif;}

.cuerpo1{font-size: 12pt; font-weight: 400; letter-spacing: 0px;}
.cuerpo2{font-size: 10pt; font-weight: 700; letter-spacing: 1px;}
.anotacion{font-size: 9pt; font-weight: 400; text-transform: uppercase;}
.sub14{font-size: 10pt; font-weight: 700; letter-spacing: 5px;}

.lnh {line-height: 1.4em;} /*interlineado oó separación entre líneas de texto*/
